
@{
    ViewBag.Title = "AddProduct";
}
<h2 class="h1 text-center">Add Product</h2>
<div class="d-flex justify-content-center align-items-center mt-5" style="height: calc(100vh - 80px);">
    <form class="mx-auto" action="/Home/AddProduct" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="ProductName" class="form-label">Product Name</label>
            <input type="text" class="form-control" id="ProductName" name="ProductName" placeholder="Enter Product Name">
        </div>
        <div class="mb-3">
            <label for="productDescription" class="form-label">Description</label>
            <textarea class="form-control" id="productDescription" rows="3" name="Description"></textarea>
        </div>
        <div class="mb-3">
            <label for="Price" class="form-label">Price</label>
            <input type="number" class="form-control" id="Price" name="Price" placeholder="Enter Price">
        </div>
        <div class="mb-3">
            <label for="Category" class="form-label">Category</label>
            <input type="text" class="form-control" id="Category" name="Category" placeholder="Enter Category">
        </div>
        <div class="mb-3">
            <label for="photo1" class="form-label">Photo1</label>
            <input class="form-control" type="file" id="photo1" name="Photo1">
        </div>
        <div class="mb-3">
            <label for="Photo2" class="form-label">Photo2</label>
            <input class="form-control" type="file" id="Photo2" name="Photo2">
        </div>
        <div class="mb-3">
            <label for="Photo3" class="form-label">Photo3</label>
            <input class="form-control" type="file" id="Photo3" name="Photo3">
        </div>
        <div class="mb-3">
            <button type="submit" class=" btn btn-success">Add Product</button>
        </div>
    </form>
</div>


